/* Stylesheet for inclass project by Nu Designs */

#sideMenu {
  height: 100%;
  width: 180px;
  position: fixed;
  border-right: 1px solid gray;
  background-color: #d9e1e2;
}

#logo {
  margin-top: 10px;
  margin-left: 20px;
  color: blue;
  font-size: 40px;
  font-style: italic;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

#menuPic {
  height: 150px;
  width: 150px;
  margin-left: 15px;
  margin-right: 20px;
  margin-top: 20px;
}

#menuItems  {
  margin-top: 30px;
}

.menuItem {
  font-size: 30px;
  font-family: 'Alegreya Sans', sans-serif;
  padding: 20px;
}

.selectedMenuItem {
  color: white;
  background-color: #0ca001;
  border-right: 5px solid #78e570;
}

.hovered {
  background-color: #e3edef;
  border-right: 5px solid blue;
}
