#agenda-list{
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

#bulletin-container{
  height: 88%;
  overflow: hidden;
}

.agenda {
  margin-top:1em;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-bottom:1em;
}

.agenda .avatar {
  width:10%;
  height:7em;
  display: inline-block;
  vertical-align: top;
}

.spacer {
  clear:right;
}
.agenda .poster {
  margin-left: 5%;
}

.avatar-pic {
  width: 50%;
  height: 50%;
}

.info {
  width:88%;
  display: inline-block;
}

.content {
  border-width:2%;
  border: 2px solid darkgreen;
  border-radius: 20px;
  background-color: #f7fbfc;
}

 p{
  float:right;
  padding-top: 1%;
  padding-right: 1%;
  height:1em;
  font-style: italic;
}

.daily {
  margin-left: 2%;
  width:98%;
  padding-bottom:1%;
}

.indent{
  margin-left: 2%;
  width: 98%;
}

.primary p{
  font-size: 2em;
  margin-bottom: 0em;
}

.secondary p {
  font-size: 1.5em;
  margin-bottom: 0em;
}

.tertiary p{
  font-size: 1.125em;
  margin-bottom: 0em;
}

.header  {
}

.action {
}

.seperator {
  height:1px;
  border-bottom:.1em solid #313030;
}


.comment-controls {
  margin-top: .5em;
  height:1.5em;
  margin-bottom: .5em;
}

.comment-controls button{
  font-size:1em;
}

#public-comment {
  float:left;
  margin-left:2%;
  background-color: #f9f68e;
  color: black;
  border-color: gray;
}

#private-comment {
  float:right;
  margin-right:2%;
  background-color: #ad17d3;
  border-color: purple;
}
.comments {
  padding:.5em;
}
.comment-header {
  font-size: 1.5em;
  margin-bottom: 0px;
}
.entry {
  padding-top:1em;
  padding-bottom:1em;
  border-radius: 10px;
  background-color: #e8e8e8;
}
.comments .avatar {
  margin-left: 1%;
  width:5%;
  height:3em;
  display: inline-block;
  vertical-align: top;
}

.poster {
  color:blue;
}
.comments .poster {
  margin-left: 0%;
  color:blue;
}

.comment {
  width:87%;
  display: inline-block;
  margin-left: .5%;
  vertical-align: top;
}

.detail{

}

.comments .avatar-pic {
  width: 100%;
  height: 100%;
}
