#agenda-list{
  width: 100%;
  height: 100%;
}

#biggcontainer{
  min-width: 911px;
}
#bulletin-container{
  height: 100%;
  overflow: auto;
}

.agenda {
  margin-top:1em;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  min-width:819.2px;
  margin-bottom:1em;
}

.agenda .avatar {
  min-width: 183.2px;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin-right: 10px;
  /* width: 13%; */
}

.spacer {
  clear:right;
}
.agenda .poster {
  padding-left: 1em;
}

.avatar-pic {
  width: 5em;
}

.glyphicon.glyphicon-envelope{
  display:block;
  margin-left: 22px;
  font-size:1.5em;
}

.info {
  min-width: 616px;
  display: inline-block;
  width: 74%;
}

.content {
  border-width:2%;
  border: 1px solid darkgray;
  border-radius: 7px;
  background-color: #f7fbfc;
}
.reminder {
  color: #d9534f;
}
.date p{
  float:right;
  padding-top: 1%;
  padding-right: 1%;
  height:1em;
  font-style: italic;
}

.daily {
  margin-left: 2%;
  width:98%;
  padding-bottom:1%;
}

.indent{
  margin-left: 2%;
  width: 98%;
}

.primary p{
  font-size: 2em;
  margin-bottom: 0em;
}

.secondary p {
  font-size: 1.5em;
  margin-bottom: 0em;
}

.tertiary p{
  font-size: 1.125em;
  margin-bottom: 0em;
}

.header  {
}

.action {
}

.seperator {
  height:1px;
  border-bottom:.1em solid #313030;
}

.private-comment {
  margin-left:10px;
  margin-right:1%;
  margin-bottom:.5em;
  background-color: #0ca001;
  font-size: 1.2em;
  color: white;
  width:8em;
  /* height: 1em; */
}

.btn:focus{
  outline:none;
  outline-offset: 0px;
}

.comment-entry{
  width: 100%;
  margin: auto;
  margin-bottom: .5em;
}

.post-row{
  display:inline-block;
  vertical-align: top;
  width:15%;
}


textarea {
  border: 1px solid;
  border-radius:10px;
  border-color: rgb(4, 120, 174);
  resize: none;
  overflow: hidden;
  outline:none;
  width: 70%;
  margin-left:8%;
  padding:7px;
  height:1em;
}

.comments {
  padding-top:1em;
  width:100%;
  margin:auto;
}

.big-comment-header{
  margin:.25em;
  font-size:1.5em;
  display:inline;
}

.more-container {
  display: none;
}

.entries-container {
  border-color: #e8ee8e8;
  border-radius: 15px;
  background-color:#e8e8e8;
  padding:.25em;
}

.entry {
  margin:1em;
  padding-bottom:1em;
  border-radius: 4px;
  background-color: #f7fbfc;
}
.comments .avatar {
  margin-left: 0%;
  width:5%;
  height:3em;
  display: inline-block;
  vertical-align: top;
}

.poster {
  color:#3f3f5a;
  font-weight: bold;
}
.comments .poster {
  margin-left: 0%;
  color: green;
  font-weight: bold;
  padding-left:1em;
}

.comment-container {
  padding-top:.5em;
  padding-left:.5em;
  padding-right:.5em;
}

.comment-header{
  height:2em;
  width:100%;
}
.comment-date{
  float: right;
  display:inline-block;
}

.comment-date p{
  float: right;
  font-size:1em;
  font-style: italic;
}

.comments .avatar {
  width: 30;
  height:2em;
  vertical-align: top;
  display:inline-block;
}

.comments .avatar-pic {
  width: 2em;
  height: 2em;
}

.comments .poster {
  margin-left:0%;
  font-size:1em;
}

.comment {
  margin-top:.5em;
  width:100%;
}

.poster {
  color:green;
}
