/* Stylesheet for inclass project by Nu Designs */

#sideMenu {
  height: 100%;
  width: 180px;
  position: fixed;
  border-right: 1px solid gray;
  background-color: #d9e1e2;
}
#mainWindow {
  margin-left: 180px;
  height:100vh;
}

#mode-panel {
  height: 90%;
}

#language-group {
  float: right;
  margin-right: 30px;
  margin-top: 30px;
}
#language-icon {
  display: inline-block;
}
#language-button {
  height: 40px;
}

#logout-button {
  float: right;
  display: block;
  margin-right: 30px;
  margin-top: 30px;
}

#top-bar {
  width: 100%;
  border-bottom: 2px solid black;
  height: 10%;
}

.welcome-message {
  padding: 5px 0 0 20px;
  width: 300px;
  display: inline-block;
  font-size: 60px;
}

#logo {
  margin-top: 10px;
  margin-left: 20px;
  color: blue;
  font-size: 40px;
  font-style: italic;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

#menuPic {
  height: 150px;
  width: 150px;
  margin-left: 15px;
  margin-right: 20px;
  margin-top: 20px;
}

#menuItems  {
  margin-top: 30px;
}

.menuItem {
  font-size: 30px;
  font-family: 'Alegreya Sans', sans-serif;
  padding: 20px;
  cursor: pointer;
}

.selectedMenuItem {
  color: white;
  background-color: #0ca001;
  cursor: default;
}

.hovered {
  background-color: #e3edef;
}

.section-title {
  padding: 10px 0px 0px 30px;
  width: 100%;
  display: inline-block;
  font-size: 60px;
  height: 12%;
  border-bottom: 1px solid black;
}

#messages-container {
  height: 88%;
  width: 100%;
  border: 1px solid black;
  border-left: none;
  border-top: none;
  overflow: hidden;
}

#messages-list {
  padding: 40px;
  height: 90%;
  width: 80%;
  border-bottom: none;
  overflow-y: scroll;
}
#messages-input {
  width: 80%;
  height: 100%;
  padding: 10px;
  border: none;
  font-size: 20px;
}
#send-message-button {
  height: 80%;
  width: 15%;
  margin-left: 25px;
  font-size: 30px;
  border-color: green;
  background-color: darkgreen;
}

#messages-input-container {
  width: 80%;
  height: 10%;
  padding: 5px;
  border: none;
  border-top: 1px solid black;
}

#messages-attachments-pane {
  height: 100%;
  width: 20%;
  float: right;
  border-left: 1px solid black;
}

#messaging-contact {
  height: 50%;
  width: 100%;
  border-bottom: 1px solid black;
}

#attachments-list {
  height: 50%;
  width: 100%;
}

.attachment {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin: 5px 0 0 5px;
  border: 1px solid black;
}

.message-bubble {
  display: block;
  border: solid 1px blue;
  max-width: 600px;
  padding: 25px;
  padding-top: 10px;
  font-size: 20px;
}

.message-time {
  font-size: 15px;
}

.message {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.message::before, .message::after {
    content:"";
    display:table;
}
.message::after {
    clear:both;
}

.received {
  border-color: gray;
  background-color: #f7fbfc;
  color: black;
  float: left;
  border-radius: 5px 20px 20px 20px;
}

.sent {
  background-color: #20ce10;;
  border-color: green;
  color: white;
  float: right;
  border-radius: 20px 5px 20px 20px;
}

table {
  margin: 100px;
  width: 50%;


}

th {
  height:100px;
  width: 100px;
  text-align: center;
  text-decoration: underline;
}

td {
  text-align:center;
  padding: 10px 0;
}

#leftBar {
  width:50%;
  height:100vh;
  float:left;
}

#rightBar {
  float:left;
  width: 50%;
  height: 100vh;
  float:right;
  text-align:center;
  vertical-align:middle;
}

#wrapper {
  display:flex;
}

.divider {
    position: absolute;
    left: 50%;
    top: 30%;
    bottom: 10%;
    border-left: 1px solid black;
    height: 100vh;
}

#gradetablecaption {
  position: absolute;
  top: 350px;
  left: 450px;
  font-size: 30pt;
}

#robby {
  position: absolute;
  top: 150px;
  left: 250px;
  font-size: 30pt;
}

#dropdown {
  position: absolute;
  top: 360px;
  left: 1000px;
  font-size: 20pt;
}

#assignments {
  position: absolute;
  top: 350px;
  left: 1350px;
  font-size: 30pt;
}

#subjecttable {
  position: absolute;
  top: 350px;
  left: 350px;
  font-size: 15px;
}

#overall {
  font-size: 25pt;
  border-collapse: separate;
  border-spacing: 10px 0;
}

#table {
  font-size: 15pt;
}

#assignmentstable {
  position: absolute;
  border-spacing: 10px 0;
  border-collapse: separate;
  top: 350px;
  left: 1210px;
}

tr:nth-child(even) {
    background-color: #e3edef;
}
